.container {
  width: 100%;
  position: relative;
  /* Prevent scrollbar weirdness from transforms */
  overflow: hidden; 
  padding: 40px 0;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
}

.itemWrap {
  width: 100%;
  display: flex;
  justify-content: center;
}

.itemInner {
  width: 100%;
  max-width: 600px;
}
